@inherits LayoutComponentBase
@inject Ighan.CrashLitics.WebUI.Utilities.TokenProvider tokenProvider
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button type="button" class="btn btn-danger ml-md-auto" @onclick="LogOut">خروج</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private async void LogOut()
    {
        await tokenProvider.ClearTokenAsync();
        navigationManager.NavigateTo("/login");
    }
}