@using Ighan.CrashLitics.WebUI.Services
@inject ProjectService service

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><strong>Ighan</strong> CrashLitics</a>
</div>

@if (projects != null)
{
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            @foreach (var project in projects)
            {
                var link = $"/project/{project.Id}";
                <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> @project.Title
                </NavLink>
            }
        </li>
    </ul>
}

@code {
    private List<Ighan.CrashLitics.Shared.ProjectModels.ProjectResult> projects;

    protected async override Task OnInitializedAsync()
    {
        projects = await service.GetAllAsync();
        service.OnProjectAdded += (newProject) =>
        {
            StateHasChanged();
        };

        await base.OnInitializedAsync();
    }
}
