@using Ighan.CrashLitics.Shared.ProjectModels
@page "/"
@inject Ighan.CrashLitics.WebUI.Services.ProjectService service

<div class="form-inline">
    <input type="text" class="form-control" placeholder="عنوان برای پروژه جدید" @bind="newProjectTitle" />
    <button type="button" class="btn btn-success mx-3" @onclick="AddProject">تأیید</button>
</div>

@code{

    private string newProjectTitle;

    protected override async Task OnInitializedAsync()
    {
        service.OnProjectAdded += (newProject) =>
        {
            newProjectTitle = string.Empty;
            StateHasChanged();
        };

        await base.OnInitializedAsync();
    }

    private async void AddProject()
    {
        await service.AddProjectAsync(newProjectTitle);
    }
}