@using Ighan.CrashLitics.Shared.ProjectModels
@page "/"
@inject Ighan.CrashLitics.WebUI.Services.ProjectService service

<div class="form-inline">
    <input type="text" class="form-control" placeholder="عنوان برای پروژه جدید" @bind="newProjectTitle" />
    <button type="button" class="btn btn-success mx-3" @onclick="AddProject">تأیید</button>
</div>

@if (projects != null)
{
    <div class="row">
        @foreach (var project in projects)
        {
            <div class="col-md-3 mt-5">
                <div class="card">
                    <div class="card-header">@project.Title</div>
                </div>
            </div>
        }
    </div>
}

@code{

    private string newProjectTitle;

    private List<ProjectResult> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await service.GetAllAsync();

        await base.OnInitializedAsync();
    }

    private async void AddProject()
    {
        await service.AddProjectAsync(newProjectTitle);
        newProjectTitle = string.Empty;
        projects = await service.GetAllAsync();
        StateHasChanged();
    }
}