@using Ighan.CrashLitics.Shared.ProjectModels
@page "/"
@inject Ighan.CrashLitics.WebUI.Services.ProjectService service
@if (projects != null)
{
    foreach (var project in projects)
    {
        <div class="card">
            <div class="card-header">@project.Title</div>
        </div>
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

    private List<ProjectResult> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await service.GetAllAsync();

        await base.OnInitializedAsync();
    }
}